# Improving Employee Retention by Predicting Employee Attrition

Table of Content :

- Introducation
- Load Dataset
- Exploratory Data Analysis

## Introduction
**Background**

Sumber daya manusia (SDM) adalah aset utama yang perlu dikelola dengan baik oleh perusahaan agar tujuan bisnis dapat tercapai dengan efektif dan efisien. Pada kesempatan kali ini, kita akan menghadapi sebuah permasalahan tentang sumber daya manusia yang ada di perusahaan. Fokus kita adalah untuk mengetahui bagaimana cara menjaga karyawan agar tetap bertahan di perusahaan yang ada saat ini yang dapat mengakibatkan bengkaknya biaya untuk rekrutmen karyawan serta pelatihan untuk mereka yang baru masuk. Dengan mengetahui faktor utama yang menyebabkan karyawan tidak merasa, perusahaan dapat segera menanggulanginya dengan membuat program-program yang relevan dengan permasalahan karyawan.

**Goal:**

Meningkatkan retensi karyawan di perusahaan dengan mengidentifikasi dan mengatasi faktor-faktor utama yang menyebabkan ketidakpuasan serta meningkatkan keberlanjutan sumber daya manusia (SDM) sebagai aset utama perusahaan.

**Objectives:**


1. Mengidentifikasi faktor-faktor utama yang menyebabkan ketidakpuasan dan keengganan karyawan untuk tetap berada di perusahaan.
2. Membuat survei atau mekanisme umpan balik untuk mendapatkan pandangan langsung dari karyawan terkait dengan aspek-aspek yang dapat ditingkatkan.
3. Menganalisis hasil survei untuk menentukan tren dan pola dalam faktor-faktor ketidakpuasan yang ditemukan.
4. Mengembangkan program-program yang sesuai dan relevan untuk mengatasi setiap faktor ketidakpuasan yang diidentifikasi.
5. Menyusun strategi komprehensif untuk meningkatkan kepuasan karyawan dan meningkatkan retensi mereka.
6. Memonitor efektivitas program-program yang diimplementasikan melalui evaluasi rutin dan umpan balik dari karyawan.
7. Mengukur penurunan biaya rekrutmen dan pelatihan dengan memantau peningkatan retensi karyawan dan kepuasan mereka.
8. Meningkatkan komunikasi antara manajemen dan karyawan untuk memastikan pemahaman yang lebih baik tentang kebutuhan dan harapan karyawan.
9. Membentuk tim internal atau komite karyawan untuk berkolaborasi dalam merancang dan melaksanakan inisiatif retensi.
10. Menilai dan menyempurnakan program-program secara berkala berdasarkan umpan balik dan evaluasi kinerja perusahaan.

## Load Dataset

In [140]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [141]:
df = pd.read_csv('Improving Employee Retention by Predicting Employee Attrition Using Machine Learning.csv')
df.sample(3)

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,...,NomorHP,Email,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
72,lyingAntelope8,110612,Belum_menikah,Pria,FullTime,Software Engineer (iOS),Mid_level,Bagus,Jakarta Barat,Indeed,...,+6285936816xxx,lyingAntelope8984@outlook.com,Sarjana,1,NaN,masih_bekerja,1975-11-02,2014-9-29,2020-1-30,-
47,wingedPorpoise5,106141,Belum_menikah,Wanita,FullTime,Product Design (UI & UX),Senior_level,Bagus,Jakarta Barat,Website,...,+6289691256xxx,wingedPorpoise5929@outlook.com,Sarjana,1,NaN,masih_bekerja,1975-10-22,2015-2-16,2020-1-23,-
7,cynicalMandrill7,110500,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Senior_level,Kurang,Jakarta Selatan,LinkedIn,...,+6281293511xxx,cynicalMandrill7920@hotmail.com,Magister,1,NaN,masih_bekerja,1983-08-24,2013-07-08,2020-1-14,-

## Exploratory Data Analysis

### Overview Data

Melakukan investigasi awal terhadap data untuk memahami karakteristik dan informasi yang terkandung didalamnya termasuk missing value dan duplikat.

In [142]:
df.shape

(287, 25)

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Username                            287 non-null    object
 1   EnterpriseID                        287 non-null    int64
 2   StatusPernikahan                    287 non-null    object
 3   JenisKelamin                        287 non-null    object
 4   StatusKepegawaian                   287 non-null    object
 5   Pekerjaan                           287 non-null    object
 6   JenjangKarir                        287 non-null    object
 7   PerformancePegawai                  287 non-null    object
 8   AsalDaerah                          287 non-null    object
 9   HiringPlatform                      287 non-null    object
 10  SkorSurveyEngagement                287 non-null    int64
 11  SkorKepuasanPegawai                 282 non-null    float64
 12  JumlahKeikutsertaanProjek           284 non-null    float64
 13  JumlahKeterlambatanSebulanTerakhir  286 non-null    float64
 14  JumlahKetidakhadiran                281 non-null    float64
 15  NomorHP                             287 non-null    object
 16  Email                               287 non-null    object
 17  TingkatPendidikan                   287 non-null    object
 18  PernahBekerja                       287 non-null    object
 19  IkutProgramLOP                      29 non-null     float64
 20  AlasanResign                        221 non-null    object
 21  TanggalLahir                        287 non-null    object
 22  TanggalHiring                       287 non-null    object
 23  TanggalPenilaianKaryawan            287 non-null    object
 24  TanggalResign                       287 non-null    object
dtypes: float64(5), int64(2), object(18)
memory usage: 56.2+ KB

In [144]:
df.isnull().sum()

Username                                0
EnterpriseID                            0
StatusPernikahan                        0
JenisKelamin                            0
StatusKepegawaian                       0
Pekerjaan                               0
JenjangKarir                            0
PerformancePegawai                      0
AsalDaerah                              0
HiringPlatform                          0
SkorSurveyEngagement                    0
SkorKepuasanPegawai                     5
JumlahKeikutsertaanProjek               3
JumlahKeterlambatanSebulanTerakhir      1
JumlahKetidakhadiran                    6
NomorHP                                 0
Email                                   0
TingkatPendidikan                       0
PernahBekerja                           0
IkutProgramLOP                        258
AlasanResign                           66
TanggalLahir                            0
TanggalHiring                           0
TanggalPenilaianKaryawan                0
TanggalResign                           0
dtype: int64

Terdapat beberapa fitur yang missing value yaitu `SkorKepuasanPegawai`, `JumlahKeikutsertaanProjek`, `JumlahKeterlambatanSebulanTerakhir`, `JumlahKetidakhadiran`, `IkutProgramLOP`, `AlasanResign`

In [145]:
# overview
list_item = []
for col in df.columns:
    list_item.append([col, df[col].dtype, df[col].isna().sum(), round(100*df[col].isna().sum()/len(df[col]), 2), df[col].nunique(), df[col].unique()[:10]])
desc_df = pd.DataFrame(data=list_item, columns='Username, EnterpriseID, StatusPernikahan, JenisKelamin, StatusKepegawaian, Pekerjaan'.split(","))
desc_df

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan
0,Username,object,0,0.00,285,"[spiritedPorpoise3, jealousGelding2, pluckyMue..."
1,EnterpriseID,int64,0,0.00,287,"[111065, 106080, 106452, 106325, 111171, 10641..."
2,StatusPernikahan,object,0,0.00,5,"[Belum_menikah, Menikah, Bercerai, Lainnya, -]"
3,JenisKelamin,object,0,0.00,2,"[Pria, Wanita]"
4,StatusKepegawaian,object,0,0.00,3,"[Outsource, FullTime, Internship]"
5,Pekerjaan,object,0,0.00,14,"[Software Engineer (Back End), Data Analyst, S..."
6,JenjangKarir,object,0,0.00,3,"[Freshgraduate_program, Senior_level, Mid_level]"
7,PerformancePegawai,object,0,0.00,5,"[Sangat_bagus, Sangat_kurang, Bagus, Biasa, Ku..."
8,AsalDaerah,object,0,0.00,5,"[Jakarta Timur, Jakarta Utara, Jakarta Pusat, ..."
9,HiringPlatform,object,0,0.00,9,"[Employee_Referral, Website, Indeed, LinkedIn,..."
10,SkorSurveyEngagement,int64,0,0.00,5,"[4, 3, 2, 1, 5]"
11,SkorKepuasanPegawai,float64,5,1.74,5,"[4.0, 3.0, 5.0, nan, 2.0, 1.0]"
12,JumlahKeikutsertaanProjek,float64,3,1.05,9,"[0.0, 4.0, 6.0, nan, 7.0, 3.0, 5.0, 1.0, 2.0, ..."
13,JumlahKeterlambatanSebulanTerakhir,float64,1,0.35,7,"[0.0, 4.0, 3.0, 5.0, 2.0, 6.0, 1.0, nan]"
14,JumlahKetidakhadiran,float64,6,2.09,22,"[9.0, 3.0, 11.0, 6.0, 10.0, 19.0, 4.0, 5.0, 2...."
15,NomorHP,object,0,0.00,287,"[+6282232522xxx, +6281270745xxx, +6281346215xx..."
16,Email,object,0,0.00,287,"[spiritedPorpoise3135@yahoo.com, jealousGeldin..."
17,TingkatPendidikan,object,0,0.00,3,"[Magister, Sarjana, Doktor]"
18,PernahBekerja,object,0,0.00,2,"[1, yes]"
19,IkutProgramLOP,float64,258,89.90,2,"[1.0, 0.0, nan]"
20,AlasanResign,object,66,23.00,11,"[masih_bekerja, toxic_culture, jam_kerja, gant..."
21,TanggalLahir,object,0,0.00,284,"[1972-07-01, 1984-04-26, 1974-01-07, 1979-11-2..."
22,TanggalHiring,object,0,0.00,97,"[2011-01-10, 2014-01-06, 2014-2-17, 2013-11-11..."
23,TanggalPenilaianKaryawan,object,0,0.00,127,"[2016-2-15, 2020-1-17, 2016-01-10, 2020-02-04,..."
24,TanggalResign,object,0,0.00,53,"[-, 2018-6-16, 2014-9-24, 2018-09-06, 2019-01-..."

Di Fitur pernah bekerja terdapat keanehan data yaitu data numerik dengan kategorikal contohnya [1, yes]

In [146]:
df.duplicated().sum()

0

In [147]:
# numerikal fitur
nums = df.loc[:, (df.dtypes == 'int64') | (df.dtypes == float)].columns.tolist()
nums

['EnterpriseID',
 'SkorSurveyEngagement',
 'SkorKepuasanPegawai',
 'JumlahKeikutsertaanProjek',
 'JumlahKeterlambatanSebulanTerakhir',
 'JumlahKetidakhadiran',
 'IkutProgramLOP']

In [148]:
# kategorikal fitur
cats = df.loc[:, (df.dtypes == 'object')].columns.tolist()
cats

['Username',
 'StatusPernikahan',
 'JenisKelamin',
 'StatusKepegawaian',
 'Pekerjaan',
 'JenjangKarir',
 'PerformancePegawai',
 'AsalDaerah',
 'HiringPlatform',
 'NomorHP',
 'Email',
 'TingkatPendidikan',
 'PernahBekerja',
 'AlasanResign',
 'TanggalLahir',
 'TanggalHiring',
 'TanggalPenilaianKaryawan',
 'TanggalResign']

## **Poin-poin Penting**

**Karakteristik Data:**

- Dataset terdiri dari 287 baris dan 25 fitur.
- 7 fitur numerik dan 18 fitur kategori

**Missing Value:**

- Terdapat missing value pada fitur :
    - SkorKepuasanPegawai 
    - JumlahKeikutsertaanProjek
    - JumlahKeterlambatanSebulanTerakhir
    - JumlahKetidakhadiran
    - IkutProgramLOP
    - AlasanResign

 **Duplikat Data:**
- Tidak ada duplikat data dalam dataset.

## Statistical Summary

In [149]:
df[nums].describe().round(0).T

,count,mean,std,min,25%,50%,75%,max
EnterpriseID,287.0,105923.0,4045.0,100282.0,101269.0,106069.0,110514.0,111703.0
SkorSurveyEngagement,287.0,3.0,1.0,1.0,3.0,3.0,4.0,5.0
SkorKepuasanPegawai,282.0,4.0,1.0,1.0,3.0,4.0,5.0,5.0
JumlahKeikutsertaanProjek,284.0,1.0,2.0,0.0,0.0,0.0,0.0,8.0
JumlahKeterlambatanSebulanTerakhir,286.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0
JumlahKetidakhadiran,281.0,10.0,7.0,1.0,5.0,10.0,15.0,55.0
IkutProgramLOP,29.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0

**Key Takeaways:**

- Dilihat dari nilai mean dan median yang tidak begitu jauh nilainya, distribusi data cenderung mendekati normal
- Mayoritas karyawan memiliki **SkorSurveyEngagement 3.0 dari 5.0**
- Mayoritas karyawan memiliki **SkorKepuasanPegawai 4.0 dari 5.0**
- Mayoritas karyawan memiliki **JumlahKeikutsertaanProjek 0.0 dari 8.0**
- Mayoritas karyawan memiliki **JumlahKeterlambatanSebulanTerakhir	0.0 dari 6.0**
- Mayoritas karyawan memiliki **JumlahKetidakhadiran 10.0 dari 55.0**
- Mayoritas karyawan memiliki **IkutProgramLOP 1.0 dari 1.0 dari jumlah karyawan yang totalnya 287 yang hanya mengisi 29**

**Penjelasan**
- Jika mayoritas karyawan memiliki **Skor Survey Engagement sebesar 3.0 dari 5.0**, hal ini menunjukkan adanya tingkat keterlibatan yang cenderung rata-rata. 
- Jika **Skor Kepuasan Pegawai sebesar 4.0 dari 5.0**, itu menunjukkan bahwa mayoritas pegawai merasa cukup puas dengan kondisi dan pengalaman mereka di perusahaan. Meskipun sudah mencapai tingkat kepuasan yang baik, perusahaan dapat tetap mengambil langkah-langkah untuk mempertahankan dan meningkatkan kepuasan pegawai
- Jika mayoritas karyawan memiliki Jumlah **Keikutsertaan Projek sebesar 0.0 dari 8.0**, ini mungkin menunjukkan bahwa karyawan tidak terlibat dalam proyek-proyek perusahaan atau memiliki tingkat partisipasi yang sangat rendah. Situasi ini dapat memiliki dampak negatif pada motivasi, pengembangan keterampilan, dan rasa kepemilikan terhadap pekerjaan.
- Jika mayoritas karyawan memiliki **Jumlah Keterlambatan sebesar 0.0 dari 6.0**, itu menunjukkan bahwa sebagian besar karyawan memiliki rekam jejak kehadiran yang baik dan jarang mengalami keterlambatan. Ini bisa diartikan sebagai indikator positif terhadap disiplin dan keteraturan karyawan dalam memenuhi kewajiban mereka terkait waktu kerja. Walaupun demikian, tetap diperlukan pemantauan dan tindakan yang proaktif untuk memastikan bahwa keadaan ini tetap terjaga.
- Jika mayoritas karyawan memiliki **Jumlah Ketidakhadiran sebesar 10.0 dari 55.0**, ini menunjukkan bahwa ada sejumlah tingkat ketidakhadiran di antara karyawan yang mungkin memerlukan perhatian lebih lanjut. Ketidakhadiran dapat memiliki dampak negatif pada produktivitas dan kinerja perusahaan secara keseluruhan. 
- Jika mayoritas dari karyawan, yang jumlahnya total 287 namun hanya 29 yang mengisi, memiliki Skor Ikut Program Loyalitas dan Organisasi (LOP) sebesar 1.0 dari 1.0, hal ini menunjukkan bahwa karyawan yang telah mengisi survei sangat positif terhadap dan berpartisipasi dalam program LOP yang ditawarkan oleh perusahaan. Meskipun jumlah responden relatif kecil dibandingkan dengan jumlah total karyawan, skor penuh menunjukkan tingkat kepuasan yang tinggi terhadap program tersebut.

In [150]:
df[cats].describe().T

                         count unique                             top freq
Username                   287    285                      boredEggs0    2
StatusPernikahan           287      5                   Belum_menikah  132
JenisKelamin               287      2                          Wanita  167
StatusKepegawaian          287      3                        FullTime  217
Pekerjaan                  287     14    Software Engineer (Back End)  109
JenjangKarir               287      3           Freshgraduate_program  169
PerformancePegawai         287      5                           Biasa   85
AsalDaerah                 287      5                   Jakarta Pusat   72
HiringPlatform             287      9                          Indeed   85
NomorHP                    287    287                  +6282232522xxx    1
Email                      287    287  spiritedPorpoise3135@yahoo.com    1
TingkatPendidikan          287      3                         Sarjana  176
PernahBekerja              287      2                               1  286
AlasanResign               221     11                   masih_bekerja  132
TanggalLahir               287    284                      1987-06-14    2
TanggalHiring              287     97                      2011-01-10   12
TanggalPenilaianKaryawan   287    127                       2020-1-14   17
TanggalResign              287     53                               -  198

Berikut adalah simpulan singkat dari data yang disediakan:

1. **Username:**
    - Terdapat 287 entri, dengan 285 nama pengguna unik.
    - Nama pengguna 'boredEggs0' muncul 2 kali.

2. **Status Pernikahan:**
    - Ada 5 status pernikahan yang berbeda.
    - Mayoritas karyawan (132) belum menikah.

3. **Jenis Kelamin:**
    - Terdapat dua jenis kelamin, dengan mayoritas karyawan (167) adalah wanita.

4. **Status Kepegawaian:**
    - Ada 3 status kepegawaian, dengan mayoritas karyawan (217) bekerja sebagai karyawan penuh waktu (FullTime).

5. **Pekerjaan:**
    - Terdapat 14 jenis pekerjaan berbeda.
    - Posisi Software Engineer (Back End) paling banyak diisi, dengan 109 karyawan.

6. **Jenjang Karir:**
    - Ada 3 jenjang karir yang berbeda.
    - Mayoritas karyawan (169) berada pada jenjang Freshgraduate_program.

7. Performance Pegawai:
    - Terdapat 5 level performa pegawai.
    - Mayoritas karyawan (85) memiliki performa biasa.

8. **Asal Daerah:**
    - Ada 5 asal daerah yang berbeda.
    - Jakarta Pusat merupakan asal daerah mayoritas dengan 72 karyawan.

9. **Hiring Platform:**
    - Terdapat 9 platform perekrutan yang berbeda.
    - Indeed adalah platform perekrutan yang paling sering digunakan oleh karyawan (85 kali).

10. **Nomor HP dan Email:**
    - Setiap karyawan memiliki nomor HP dan alamat email yang unik.

11. **Tingkat Pendidikan:**
    - Ada 3 tingkat pendidikan yang berbeda.
    - Mayoritas karyawan (176) memiliki gelar Sarjana.

12. **Pernah Bekerja:**
    - Mayoritas karyawan (286 dari 287) telah bekerja sebelumnya.

13. **Alasan Resign:**
    - Terdapat 11 alasan resign yang berbeda.
    - Alasan resign paling umum adalah masih bekerja (132 karyawan).

14. **Tanggal Lahir:**
    - Terdapat 287 tanggal lahir yang berbeda, dengan beberapa tanggal lahir yang sama muncul 2 kali.

15. **Tanggal Hiring:**
    - Terdapat 97 tanggal hiring yang berbeda, dengan beberapa tanggal hiring yang muncul 12 kali.

16. **Tanggal Penilaian Karyawan:**
    - Terdapat 127 tanggal penilaian karyawan yang berbeda, dengan beberapa tanggal penilaian yang muncul 17 kali.

17. **Tanggal Resign:**
    - Terdapat 53 tanggal resign yang berbeda, dengan mayoritas (198 kali) tidak memiliki tanggal resign yang diisi (-).

## Data preprocessing
Sebelum memulai pemrosesan data, tahap paling awal yang harus dilakukan adalah mempersiapkan data mentah menjadi data yang bersih dan siap diolah. Kamu harus melakukan data preprocessing, yakni menangani berbagai permasalahan data seperti data yang kosong, data yang tidak sesuai, hingga mengidentifikasi data-data yang tidak dibutuhkan.

In [151]:
#Mengatasi data null 
df['SkorKepuasanPegawai'].fillna(df['SkorKepuasanPegawai'].median(), inplace=True)
df['JumlahKeikutsertaanProjek'].fillna(df['JumlahKeikutsertaanProjek'].mean(), inplace=True)
df['JumlahKeterlambatanSebulanTerakhir'].fillna(df['JumlahKeterlambatanSebulanTerakhir'].mean(), inplace=True)
df['JumlahKetidakhadiran'].fillna(df['JumlahKetidakhadiran'].median(), inplace=True)
df['IkutProgramLOP'].fillna(df['IkutProgramLOP'].mode()[0], inplace=True)
df['AlasanResign'].fillna('Tidak Diketahui', inplace=True)

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Username                            287 non-null    object
 1   EnterpriseID                        287 non-null    int64
 2   StatusPernikahan                    287 non-null    object
 3   JenisKelamin                        287 non-null    object
 4   StatusKepegawaian                   287 non-null    object
 5   Pekerjaan                           287 non-null    object
 6   JenjangKarir                        287 non-null    object
 7   PerformancePegawai                  287 non-null    object
 8   AsalDaerah                          287 non-null    object
 9   HiringPlatform                      287 non-null    object
 10  SkorSurveyEngagement                287 non-null    int64
 11  SkorKepuasanPegawai                 287 non-null    float64
 12  JumlahKeikutsertaanProjek           287 non-null    float64
 13  JumlahKeterlambatanSebulanTerakhir  287 non-null    float64
 14  JumlahKetidakhadiran                287 non-null    float64
 15  NomorHP                             287 non-null    object
 16  Email                               287 non-null    object
 17  TingkatPendidikan                   287 non-null    object
 18  PernahBekerja                       287 non-null    object
 19  IkutProgramLOP                      287 non-null    float64
 20  AlasanResign                        287 non-null    object
 21  TanggalLahir                        287 non-null    object
 22  TanggalHiring                       287 non-null    object
 23  TanggalPenilaianKaryawan            287 non-null    object
 24  TanggalResign                       287 non-null    object
dtypes: float64(5), int64(2), object(18)
memory usage: 56.2+ KB

In [153]:
# overview
list_item = []
for col in df.columns:
    list_item.append([col, df[col].dtype, df[col].isna().sum(), round(100*df[col].isna().sum()/len(df[col]), 2), df[col].nunique(), df[col].unique()[:10]])
desc_df = pd.DataFrame(data=list_item, columns='Username, EnterpriseID, StatusPernikahan, JenisKelamin, StatusKepegawaian, Pekerjaan'.split(","))
desc_df

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan
0,Username,object,0,0.0,285,"[spiritedPorpoise3, jealousGelding2, pluckyMue..."
1,EnterpriseID,int64,0,0.0,287,"[111065, 106080, 106452, 106325, 111171, 10641..."
2,StatusPernikahan,object,0,0.0,5,"[Belum_menikah, Menikah, Bercerai, Lainnya, -]"
3,JenisKelamin,object,0,0.0,2,"[Pria, Wanita]"
4,StatusKepegawaian,object,0,0.0,3,"[Outsource, FullTime, Internship]"
5,Pekerjaan,object,0,0.0,14,"[Software Engineer (Back End), Data Analyst, S..."
6,JenjangKarir,object,0,0.0,3,"[Freshgraduate_program, Senior_level, Mid_level]"
7,PerformancePegawai,object,0,0.0,5,"[Sangat_bagus, Sangat_kurang, Bagus, Biasa, Ku..."
8,AsalDaerah,object,0,0.0,5,"[Jakarta Timur, Jakarta Utara, Jakarta Pusat, ..."
9,HiringPlatform,object,0,0.0,9,"[Employee_Referral, Website, Indeed, LinkedIn,..."
10,SkorSurveyEngagement,int64,0,0.0,5,"[4, 3, 2, 1, 5]"
11,SkorKepuasanPegawai,float64,0,0.0,5,"[4.0, 3.0, 5.0, 2.0, 1.0]"
12,JumlahKeikutsertaanProjek,float64,0,0.0,10,"[0.0, 4.0, 6.0, 1.1795774647887325, 7.0, 3.0, ..."
13,JumlahKeterlambatanSebulanTerakhir,float64,0,0.0,8,"[0.0, 4.0, 3.0, 5.0, 2.0, 6.0, 1.0, 0.41258741..."
14,JumlahKetidakhadiran,float64,0,0.0,22,"[9.0, 3.0, 11.0, 6.0, 10.0, 19.0, 4.0, 5.0, 2...."
15,NomorHP,object,0,0.0,287,"[+6282232522xxx, +6281270745xxx, +6281346215xx..."
16,Email,object,0,0.0,287,"[spiritedPorpoise3135@yahoo.com, jealousGeldin..."
17,TingkatPendidikan,object,0,0.0,3,"[Magister, Sarjana, Doktor]"
18,PernahBekerja,object,0,0.0,2,"[1, yes]"
19,IkutProgramLOP,float64,0,0.0,2,"[1.0, 0.0]"
20,AlasanResign,object,0,0.0,12,"[masih_bekerja, toxic_culture, jam_kerja, gant..."
21,TanggalLahir,object,0,0.0,284,"[1972-07-01, 1984-04-26, 1974-01-07, 1979-11-2..."
22,TanggalHiring,object,0,0.0,97,"[2011-01-10, 2014-01-06, 2014-2-17, 2013-11-11..."
23,TanggalPenilaianKaryawan,object,0,0.0,127,"[2016-2-15, 2020-1-17, 2016-01-10, 2020-02-04,..."
24,TanggalResign,object,0,0.0,53,"[-, 2018-6-16, 2014-9-24, 2018-09-06, 2019-01-..."

In [154]:
# Menghapus kolom "nomorhp" karena memiliki satu unique value
df.drop("NomorHP", axis=1, inplace=True)

# Menghapus kolom "email" karena memiliki satu unique value
df.drop("Email", axis=1, inplace=True)

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Username                            287 non-null    object
 1   EnterpriseID                        287 non-null    int64
 2   StatusPernikahan                    287 non-null    object
 3   JenisKelamin                        287 non-null    object
 4   StatusKepegawaian                   287 non-null    object
 5   Pekerjaan                           287 non-null    object
 6   JenjangKarir                        287 non-null    object
 7   PerformancePegawai                  287 non-null    object
 8   AsalDaerah                          287 non-null    object
 9   HiringPlatform                      287 non-null    object
 10  SkorSurveyEngagement                287 non-null    int64
 11  SkorKepuasanPegawai                 287 non-null    float64
 12  JumlahKeikutsertaanProjek           287 non-null    float64
 13  JumlahKeterlambatanSebulanTerakhir  287 non-null    float64
 14  JumlahKetidakhadiran                287 non-null    float64
 15  TingkatPendidikan                   287 non-null    object
 16  PernahBekerja                       287 non-null    object
 17  IkutProgramLOP                      287 non-null    float64
 18  AlasanResign                        287 non-null    object
 19  TanggalLahir                        287 non-null    object
 20  TanggalHiring                       287 non-null    object
 21  TanggalPenilaianKaryawan            287 non-null    object
 22  TanggalResign                       287 non-null    object
dtypes: float64(5), int64(2), object(16)
memory usage: 51.7+ KB

## Annual Report On Employee Number Changes
Dalam konteks manajemen karyawan, perusahaan perlu mengetahui berapa perubahan jumlah karyawan setiap tahunnya agar bisa menyesuaikan langkah strategis guna meningkatkan kinerja perusahaan dan bisa bertahan di dunia yang terdisrupsi ini. Salah satu langkah yang telah dibuat perusahaan adalah melakukan perubahan budaya kerja setiap tahunnya yang mengacu pada jumlah karyawan yang ada, semakin banyak karyawan maka office space yang perlu disiapkan juga semakin bertambah, serta kebijakan-kebijakan lain seperti besaran bonus maksimal untuk karyawan yang performanya baik di tahun tersebut dan lain-lain. Setiap tahunnya perusahaan menyadari ada yang keluar dan ada yang masuk (karyawan), namun apabila pada tahun tertentu jumlah karyawan yang keluar lebih banyak dari yang masuk artinya perusahaan perlu berbenah diri agar karyawan lain tetap bertahan sehingga rancangan strategi jangka panjang tetap dapat dilaksanakan tanpa kendala.

In [156]:
# Konversi kolom TanggalHiring dan TanggalResign ke format datetime
df['TanggalHiring'] = pd.to_datetime(df['TanggalHiring'], errors='coerce')
df['TanggalResign'] = pd.to_datetime(df['TanggalResign'], errors='coerce')

# Membuat kolom TahunHiring dan TahunResign
df['TahunHiring'] = df['TanggalHiring'].dt.year
df['TahunResign'] = df['TanggalResign'].dt.year

# Tabel agregat jumlah karyawan yang masuk berdasarkan tahun hiring
tabel_masuk = df.groupby('TahunHiring')['Username'].count().reset_index()
tabel_masuk.columns = ['Tahun', 'JumlahMasuk']

# Tabel agregat jumlah karyawan yang keluar berdasarkan tahun resign
tabel_keluar = df.groupby('TahunResign')['Username'].count().reset_index()
tabel_keluar.columns = ['Tahun', 'JumlahKeluar']

df.sample(5)

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,...,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign,TahunHiring,TahunResign
187,dopeyGatorade1,110836,Menikah,Pria,FullTime,Software Engineer (Back End),Freshgraduate_program,Biasa,Jakarta Barat,Diversity_Job_Fair,...,Sarjana,1,1.0,Tidak Diketahui,1964-10-12,2010-04-26,2012-03-06,NaT,2010,NaN
252,crushedHyena6,111299,Lainnya,Wanita,FullTime,Machine Learning Engineer,Freshgraduate_program,Biasa,Jakarta Selatan,Indeed,...,Sarjana,1,1.0,Tidak Diketahui,1985-11-23,2014-11-10,2020-1-16,NaT,2014,NaN
61,puzzledBagels7,101053,Belum_menikah,Pria,Outsource,Software Engineer (Front End),Mid_level,Sangat_bagus,Jakarta Pusat,Diversity_Job_Fair,...,Sarjana,1,1.0,masih_bekerja,1969-02-24,2011-03-07,2020-1-17,NaT,2011,NaN
76,solemnLemur7,106462,Belum_menikah,Pria,FullTime,Software Engineer (Front End),Mid_level,Bagus,Jakarta Pusat,Employee_Referral,...,Magister,1,1.0,masih_bekerja,1985-01-28,2013-07-08,2020-02-11,NaT,2013,NaN
222,ferventHyena2,101401,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Mid_level,Biasa,Jakarta Barat,Employee_Referral,...,Sarjana,1,1.0,Tidak Diketahui,1961-06-19,2014-01-06,2020-01-07,NaT,2014,NaN

In [157]:
# Menggabungkan kedua tabel berdasarkan tahun dengan tipe join outer
tabel_gabungan = pd.merge(tabel_masuk, tabel_keluar, on="Tahun", how="outer")

# Menyimpan tabel gabungan menjadi file CSV jika diperlukan
tabel_gabungan.to_csv("tabel_jumlah_masuk_keluar.csv", index=False)

# Menampilkan tabel gabungan
print(tabel_gabungan)

     Tahun  JumlahMasuk  JumlahKeluar
0   2006.0          1.0           NaN
1   2007.0          2.0           NaN
2   2008.0          2.0           NaN
3   2009.0          7.0           NaN
4   2010.0          8.0           NaN
5   2011.0         76.0           NaN
6   2012.0         41.0           NaN
7   2013.0         43.0           5.0
8   2014.0         56.0          12.0
9   2015.0         31.0           8.0
10  2016.0         14.0           8.0
11  2017.0          5.0          19.0
12  2018.0          1.0          26.0
13  2019.0          NaN           5.0
14  2020.0          NaN           6.0

In [158]:
# Konversi tanggal ke tahun
df['TahunHiring'] = pd.to_datetime(df['TanggalHiring']).dt.year
df['TahunResign'] = pd.to_datetime(df['TanggalResign']).dt.year

# Hitung jumlah karyawan
karyawan_masuk = df.groupby('TahunHiring').size()
karyawan_keluar = df.groupby('TahunResign').size()

# Buat tabel
tabel_masuk = pd.DataFrame({'Tahun Hiring': karyawan_masuk.index, 'Jumlah Karyawan': karyawan_masuk.values})
tabel_keluar = pd.DataFrame({'Tahun Resign': karyawan_keluar.index, 'Jumlah Karyawan': karyawan_keluar.values})

# Tampilkan tabel
print(tabel_masuk.to_string())
print(tabel_keluar.to_string())

    Tahun Hiring  Jumlah Karyawan
0           2006                1
1           2007                2
2           2008                2
3           2009                7
4           2010                8
5           2011               76
6           2012               41
7           2013               43
8           2014               56
9           2015               31
10          2016               14
11          2017                5
12          2018                1
   Tahun Resign  Jumlah Karyawan
0        2013.0                5
1        2014.0               12
2        2015.0                8
3        2016.0                8
4        2017.0               19
5        2018.0               26
6        2019.0                5
7        2020.0                6

In [165]:
# Isi nilai kosong di kolom "TahunHiring" dengan nilai sebelumnya berdasarkan urutan
df["TahunHiring"].fillna(method="ffill", inplace=True)
# Isi nilai kosong di kolom "TahunResign" dengan nilai berikutnya berdasarkan urutan
df["TahunResign"].fillna(method="bfill", inplace=True)
# Cetak dataframe
print(df.to_string())

# Atau, tampilkan kolom "TahunHiring" dan "TahunResign" saja
#print(df[["TahunHiring", "TahunResign"]].to_string())

              Username  EnterpriseID StatusPernikahan JenisKelamin StatusKepegawaian                       Pekerjaan           JenjangKarir PerformancePegawai       AsalDaerah           HiringPlatform  SkorSurveyEngagement  SkorKepuasanPegawai  JumlahKeikutsertaanProjek  JumlahKeterlambatanSebulanTerakhir  JumlahKetidakhadiran TingkatPendidikan PernahBekerja  IkutProgramLOP              AlasanResign TanggalLahir TanggalHiring TanggalPenilaianKaryawan TanggalResign  TahunHiring  TahunResign
0    spiritedPorpoise3        111065    Belum_menikah         Pria         Outsource    Software Engineer (Back End)  Freshgraduate_program       Sangat_bagus    Jakarta Timur        Employee_Referral                     4                  4.0                   0.000000                            0.000000                   9.0          Magister             1             1.0             masih_bekerja   1972-07-01    2011-01-10                2016-2-15           NaT         2011       2018.0
1      jealousGelding2        106080    Belum_menikah         Pria          FullTime                    Data Analyst  Freshgraduate_program      Sangat_kurang    Jakarta Utara                  Website                     4                  4.0                   4.000000                            0.000000                   3.0           Sarjana             1             1.0             toxic_culture   1984-04-26    2014-01-06                2020-1-17    2018-06-16         2014       2018.0
2        pluckyMuesli3        106452          Menikah         Pria          FullTime   Software Engineer (Front End)  Freshgraduate_program              Bagus    Jakarta Timur                   Indeed                     4                  3.0                   0.000000                            0.000000                  11.0          Magister             1             1.0                 jam_kerja   1974-01-07    2011-01-10               2016-01-10    2014-09-24         2011       2014.0
3     stressedTruffle1        106325    Belum_menikah         Pria         Outsource   Software Engineer (Front End)  Freshgraduate_program              Bagus    Jakarta Pusat                 LinkedIn                     3                  3.0                   0.000000                            4.000000                   6.0           Sarjana             1             0.0             masih_bekerja   1979-11-24    2014-02-17               2020-02-04           NaT         2014       2018.0
4          shyTermite7        111171    Belum_menikah       Wanita          FullTime                 Product Manager  Freshgraduate_program              Bagus    Jakarta Timur                 LinkedIn                     3                  3.0                   0.000000                            0.000000                  11.0           Sarjana             1             0.0               ganti_karir   1974-11-07    2013-11-11                2020-1-22    2018-09-06         2013       2018.0
5          emptyMacaw4        106419    Belum_menikah       Wanita         Outsource   Software Engineer (Front End)           Senior_level              Biasa  Jakarta Selatan                   Indeed                     3                  4.0                   6.000000                            0.000000                  10.0           Sarjana             1             0.0             masih_bekerja   1980-05-12    2016-10-02               2020-02-06           NaT         2016       2019.0
6            madZebra1        100309          Menikah       Wanita          FullTime                    Data Analyst  Freshgraduate_program              Biasa    Jakarta Utara                 LinkedIn                     2                  3.0                   4.000000                            0.000000                  19.0           Sarjana             1             1.0             masih_bekerja   1979-05-24    2014-11-10               2020-01-02           NaT         2014       2019.0
7     cynicalMandrill7        110500    Belum_menikah         Pria          FullTime    Software Engineer (Back End)           Senior_level             Kurang  Jakarta Selatan                 LinkedIn                     2                  5.0                   0.000000                            0.000000                   4.0          Magister             1             1.0             masih_bekerja   1983-08-24    2013-07-08                2020-1-14           NaT         2013       2019.0
8         lyingMussel8        110533         Bercerai         Pria          FullTime     Software Engineer (Android)           Senior_level      Sangat_kurang  Jakarta Selatan        Employee_Referral                     3                  4.0                   0.000000                            0.000000                   5.0          Magister             1             1.0             masih_bekerja   1980-08-26    2016-07-06                2020-2-28           NaT         2016       2019.0
9         enviousMoth4        110927          Menikah       Wanita          FullTime     Software Engineer (Android)  Freshgraduate_program       Sangat_bagus    Jakarta Pusat                   Indeed                     4                  5.0                   6.000000                            0.000000                   4.0           Sarjana             1             1.0             masih_bekerja   1984-02-21    2015-03-30               2020-01-03           NaT         2015       2019.0
10        puzzledCake4        105548    Belum_menikah         Pria          FullTime   Software Engineer (Front End)              Mid_level             Kurang    Jakarta Timur            CareerBuilder                     3                  2.0                   0.000000                            3.000000                   3.0           Sarjana             1             1.0               ganti_karir   1975-12-17    2010-07-20                2020-1-14    2019-01-12         2010       2019.0
11      grizzledSnipe7        111354         Bercerai       Wanita          FullTime    Software Engineer (Back End)           Senior_level       Sangat_bagus    Jakarta Barat            CareerBuilder                     1                  5.0                   0.000000                            5.000000                   2.0          Magister             1             1.0             tidak_bahagia   1989-07-18    2011-07-05               2016-02-06    2018-09-19         2011       2018.0
12     yearningBagels0        100895          Menikah         Pria          FullTime    Software Engineer (Back End)  Freshgraduate_program              Biasa    Jakarta Pusat                 LinkedIn                     4                  3.0                   0.000000                            0.000000                  50.0          Magister             1             1.0             masih_bekerja   1988-08-10    2013-11-11               2020-01-08           NaT         2013       2019.0
13      sheepishSheep9        110783          Menikah       Wanita         Outsource    Software Engineer (Back End)  Freshgraduate_program              Bagus  Jakarta Selatan                 LinkedIn                     3                  4.0                   0.000000                            0.000000                  12.0           Sarjana             1             1.0             masih_bekerja   1983-12-02    2011-05-16                2020-2-26           NaT         2011       2019.0
14        madWildfowl7        105507          Menikah       Wanita          FullTime    Software Engineer (Back End)  Freshgraduate_program              Biasa  Jakarta Selatan                   Indeed                     3                  4.0                   0.000000                            0.000000                   3.0           Sarjana             1             1.0               ganti_karir   1983-08-27    2011-06-27               2016-03-10    2019-04-06         2011       2019.0
15      enviousSalami4        106710    Belum_menikah       Wanita          FullTime   Software Engineer (Front End)           Senior_level      Sangat_kurang    Jakarta Utara                 LinkedIn                     3                  3.0                   0.000000                            0.000000                  10.0            Doktor             1             1.0             toxic_culture   1985-03-15    2011-01-10               2015-01-05    2019-08-04         2011       2019.0
16    pacifiedRaisins7        101236          Menikah         Pria          FullTime                 Product Manager  Freshgraduate_program              Bagus    Jakarta Pusat       Diversity_Job_Fair                     3                  4.0                   0.000000                            0.000000                  12.0           Sarjana             1             1.0             masih_bekerja   1976-12-03    2012-01-09                2020-1-31           NaT         2012       2017.0
17     wrathfulMagpie6        105985    Belum_menikah       Wanita          FullTime     Software Engineer (Android)  Freshgraduate_program       Sangat_bagus    Jakarta Barat                 LinkedIn                     3                  4.0                   0.000000                            0.000000                  11.0           Sarjana             1             1.0             masih_bekerja   1986-11-06    2011-07-05                2020-2-25           NaT         2011       2017.0
18     hushedSeahorse7        111202         Bercerai       Wanita          FullTime                    Data Analyst  Freshgraduate_program       Sangat_bagus    Jakarta Pusat       Diversity_Job_Fair                     3                  4.0                   0.000000                            0.000000                  17.0           Sarjana             1             1.0         internal_conflict   1968-05-30    2012-04-02               2017-02-05    2017-09-12         2012       2017.0
19         guiltyMoth4        100621          Lainnya         Pria          FullTime    Software Engineer (Back End)  Freshgraduate_program              Biasa    Jakarta Utara                   Indeed                     1                  2.0                   0.000000                            4.000000                   9.0           Sarjana             1             1.0             masih_bekerja   1967-04-19    2014-07-07                2020-1-31           NaT         2014       2016.0
20      peacefulCoati5        100301          Menikah       Wanita          FullTime                 Product Manager           Senior_level       Sangat_bagus    Jakarta Utara                 LinkedIn                     4                  5.0                   0.000000                            0.000000                  15.0           Sarjana             1             1.0             masih_bekerja   1977-05-22    2012-01-09               2020-01-07           NaT         2012       2016.0
21    dejectedPolenta7        101120          Lainnya       Wanita          FullTime                    Scrum Master              Mid_level      Sangat_kurang    Jakarta Barat                   Indeed                     3                  4.0                   1.179577                            0.000000                  10.0           Sarjana             1             1.0             masih_bekerja   1981-03-26    2011-07-05               2019-03-02           NaT         2011       2016.0
22     needfulLeopard2        101124          Menikah         Pria         Outsource  Product Design (UX Researcher)  Freshgraduate_program              Bagus  Jakarta Selatan                 LinkedIn                     3                  3.0                   0.000000                            0.000000                   7.0          Magister             1             1.0             masih_bekerja   1979-03-19    2013-07-08                2020-2-18           NaT         2013       2016.0
23     offendedIguana0        110788    Belum_menikah       Wanita         Outsource    Software Engineer (Back End)  Freshgraduate_program              Bagus    Jakarta Pusat                 LinkedIn                     3                  3.0                   0.000000                            0.000000                  19.0            Doktor             1             1.0             masih_bekerja   1990-10-01    2015-03-30                2020-1-16           NaT         2015       2016.0
24       pluckyHoopoe3        105394         Bercerai       Wanita         Outsource        Product Design (UI & UX)  Freshgraduate_program              Bagus    Jakarta Timur            CareerBuilder                     1                  3.0                   0.000000                            2.000000                   3.0           Sarjana             1             1.0               ganti_karir   1990-09-21    2011-04-04                2020-2-27    2016-04-04         2011       2016.0
25         needySyrup4        101226         Bercerai         Pria          FullTime                 Product Manager  Freshgraduate_program              Biasa    Jakarta Pusat       Diversity_Job_Fair                     2                  4.0                   6.000000                            4.000000                  13.0          Magister             1             1.0               ganti_karir   1986-10-05    2012-02-15                2020-2-22    2018-02-19         2012       2018.0
26        forsakenOwl1        105911    Belum_menikah       Wanita          FullTime    Software Engineer (Back End)  Freshgraduate_program              Bagus    Jakarta Barat            CareerBuilder                     4                  3.0                   0.000000                            0.000000                  15.0          Magister             1             1.0             masih_bekerja   1972-08-27    2011-01-10                2014-1-30           NaT         2011       2016.0
27       pluckyApples4        110566          Menikah       Wanita          FullTime   Software Engineer (Front End)           Senior_level              Biasa  Jakarta Selatan                 LinkedIn                     3                  5.0                   0.000000                            0.000000                  15.0           Sarjana             1             1.0  Product Design (UI & UX)   1987-04-10    2016-07-06                2020-1-28    2016-08-07         2016       2016.0
28        guiltySnail8        106577    Belum_menikah       Wanita         Outsource    Software Engineer (Back End)  Freshgraduate_program             Kurang  Jakarta Selatan        Employee_Referral                     3                  3.0                   0.000000                            0.000000                  16.0           Sarjana             1             1.0               ganti_karir   1965-02-02    2013-11-11                2020-1-24    2015-06-15         2013       2015.0
29   grizzledFlamingo9        106473          Menikah       Wanita          FullTime    Software Engineer (Back End)              Mid_level              Biasa    Jakarta Utara                 LinkedIn                     4                  3.0                   7.000000                            0.000000                  10.0            Doktor             1             1.0             masih_bekerja   1973-05-27    2015-01-05                2019-2-13           NaT         2015       2016.0
30       worriedSyrup7        100603          Menikah         Pria          FullTime     Software Engineer (Android)  Freshgraduate_program             Kurang    Jakarta Timur                   Indeed                     4                  4.0                   0.000000                            0.000000                  14.0           Sarjana             1             1.0             masih_bekerja   1977-10-31    2011-05-16               2017-04-02           NaT         2011       2016.0
31        somberBoars0        106411         Bercerai         Pria         Outsource   Software Engineer (Front End)              Mid_level              Bagus    Jakarta Barat       Diversity_Job_Fair                     3                  4.0                   0.000000                            0.000000                   4.0          Magister             1             1.0             masih_bekerja   1984-11-06    2011-02-21                2015-4-19           NaT         2011       2016.0
32       giddyMallard9        100730    Belum_menikah         Pria          FullTime     Software Engineer (Android)              Mid_level             Kurang    Jakarta Pusat                   Indeed                     1                  5.0                   0.000000                            6.000000                  15.0          Magister             1             1.0               ganti_karir   1989-10-18    2015-05-11               2020-01-03    2016-08-02         2015       2016.0
33          madFerret4        106540    Belum_menikah       Wanita         Outsource   Software Engineer (Front End)  Freshgraduate_program              Biasa    Jakarta Pusat                 LinkedIn                     3                  3.0                   6.000000                            0.000000                   7.0          Magister             1             1.0             masih_bekerja   1981-04-14    2014-09-30               2020-01-07           NaT         2014       2017.0
34        mereCaribou1        106529    Belum_menikah       Wanita         Outsource    Software Engineer (Back End)  Freshgraduate_program              Biasa    Jakarta Utara                 LinkedIn                     3                  3.0                   0.000000                            0.000000                   2.0           Sarjana             1             1.0             masih_bekerja   1988-07-10    2014-09-29                2020-2-18           NaT         2014       2017.0
35     decimalAbalone6        110848          Menikah       Wanita          FullTime    Software Engineer (Back End)              Mid_level              Biasa    Jakarta Pusat                 LinkedIn                     3                  3.0                   0.000000                            0.000000                  20.0          Magister             1             1.0             masih_bekerja   1986-05-25    2014-05-12               2020-02-07           NaT         2014       2017.0
36     blissfulMussel3        105437    Belum_menikah       Wanita          FullTime   Software Engineer (Front End)              Mid_level              Bagus    Jakarta Timur            Google_Search                     2                  5.0                   0.000000                            1.000000                  19.0           Sarjana             1             1.0             masih_bekerja   1964-06-01    2011-08-15               2014-02-10           NaT         2011       2017.0
37      ardentLapwing0        110342    Belum_menikah         Pria          FullTime                 Product Manager  Freshgraduate_program              Bagus    Jakarta Barat            Google_Search                     3                  4.0                   0.000000                            0.000000                   7.0           Sarjana             1             1.0             masih_bekerja   1983-07-20    2012-02-20                2020-2-14           NaT         2012       2017.0
38          peskyTeal7        110552    Belum_menikah         Pria          FullTime   Software Engineer (Front End)  Freshgraduate_program       Sangat_bagus    Jakarta Pusat                   Indeed                     2                  5.0                   0.000000                            0.000000                  15.0           Sarjana             1             1.0             masih_bekerja   1983-03-19    2009-01-05               2020-02-04           NaT         2009       2017.0